body {
    background-color: lightgray;
}

.mainheader {
    display: flex;
    position: relative;
    font: italic 1.2rem "Fira Sans", serif;
}

.portfolio-home {
    font-size: 65px;
    color: #682839;
    margin-right: 50%;
    padding-left: 90px;
    text-decoration: none;
}

nav,
.profilehome,
.dashboardhome,
.bloghome,
.faqhome,
.linkhome {
    display: inline-block;
    text-decoration: none;
    font-size: 23px;
    margin-right: 18px;
    padding-top: 75px;
    color: black;
}

.linkome {
    position: relative;
    float: right;
}

.myphoto {
   float: right;
   padding-right: 50px;
}

.hello-home,
.name-home,
.uni-home,
.ua-home {
    font: italic 1.2rem "Fira Sans", serif;
    padding-top: 70px;
    margin-bottom: -60px;
}

.hello-home {
    font-size: 37px;
    padding-left: 85px;
}

.name-home {
    font-size: 130px;
    padding-left: 75px;
    font-weight: bold;
}

.uni-home {
    padding-left: 70px;
    font-size: 60px;
    color: #682839;
    font-weight: bold;
}

.ua-home {
    font-size: 37px;
    padding-left: 70px;
}

#portfolio-profilepage,
#portfolio-faq,
#portfolio-aboutme {
    font-size: 65px;
    padding-top: 44px;
    text-decoration: none;
    font-weight: bold;
    color: #682839;
}

#portfolio-profilepage {
    margin-right: 50%;
    padding-left: 90px;
}

#portfolio-faq {
    margin-right: 50%;
    padding-left: 90px;
}

#portfolio-aboutme {
    margin-right: 35%;
    padding-left: 350px;
}

.legoimg {
    width: 640px;
    height: 380px;
    border-radius: 15px;
    margin-left: 87px;
    margin-top: 100px;
}

.legoinfo {
    position: relative;
    float: right;
    margin-top: 80px;
    margin-right: 7%;
    font-size: 21px;
    font: italic 1.2rem "Fira Sans", serif;
}

.csimg,
.carimg {
    position: relative;
    border-radius: 15px;
    margin-top: 130px;
    width: 640px;
    height: 300px;
}

.csimg {
    float: left;
    margin-left: 87px;
}

.carimg {
    float: right;
    margin-right: 7%;
}

.cs,
.car {
    position: relative;
    font-size: 15px;
    font: italic 1.2rem "Fira Sans", serif;
}

.cs {
    float: left;
    padding-left: 87px;
}

.car {
 float: right;
 padding-right: 10%;
}

.asked {
    padding-top: 150px;
}

.q1 {
    margin: 60px auto;
    width: 700px;
}

.q1 li {
    list-style: none;
    width: 100%;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    background: #e3edf7;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.q1 li label {
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 21px;
    font-weight: 500;
    cursor: pointer;
}

label::before {
    content: '+';
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
}

input[type="radio"]{
    display: none;
}

.q1 .content {
    color: #555;
    font-size: 20px;
    padding: 0 10px;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}

.q1 input[type="radio"]:checked + label + .content{
    max-height: 400px;
    padding: 10px 10px 20px;
}

.q1 input[type="radio"]:checked + label::before{
    content: '-';
}

.asked{
    text-align: center;
    font-weight: bold;
    font: italic 1.2rem "Fira Sans", serif;
}

.mainimg {
    position: relative;
    float: left;
    padding-left: 20px;
    padding-top: 70px;
}

.myinfo{
    position: relative;
    float: right;
    padding-top: 150px;
    padding-right: 5%;

}

.pinfo {
    font-size: 18px;
    padding-top: 30px;
}

.table{
	display: table;
	width: 100%;
}

.row {
	display: table-row;
    width: 50px;
    height: 50px;
}

.cell{
	border: 1px solid #682839;
	display: table-cell;
	padding: 13px 10px;
}

.tablebody {
	display: table-row-group;
}

th,
td {
    border: 1px solid black;
}

.tableheader {
    background-color: #682839;
}

table {
    padding-top: 5%;
}

.side-nav {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px 15px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    padding: 10px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}

.user h2 {
     font-size: 15px;
     font-weight: 600;
     white-space: nowrap;

}

.user-img {
    width: 40%;
    border-radius: 50%;
    margin: auto;
}

ul {
    list-style: none;
    padding: 0 15 px;
}

ul li {
    margin: 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
ul li a {
    text-decoration: none;
    color: black;
    padding-top: 30px;
    font-size: 20px;
}

.aboutme-content {
    font: italic 1.2rem "Fira Sans", serif;
}

.aboutme-img {
    width: 100%;
}

.aboutme-header {
    padding-left: 45%;
}

.exp-aboutme {
    padding-left: 25%;
    padding-top: 30px;
    font-size: 30px;
}

.motivation-title,
.mymotivation {
    font: italic 1.2rem "Fira Sans", serif;
}

.motivation-title {
    padding-top: 20%;
    padding-left: 45%;
    font-size: 20px;
}

.mymotivation {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    font-size: 24px;
}

.inst {
    text-decoration: none;
    color: yellow;
}